snippet sout "Print System.out.println"
System.out.println(${0:"Some string here"});
endsnippet

snippet class "Class Creation"
class ${1:ClassName}{
	${0}
}
endsnippet

snippet toString "Create a toString method"
public String toString(){
	${0://do something here}
}
endsnippet

snippet psvm "public static void main"
public static void main(String args[]){
	${0://do something here}
}
endsnippet

